<section class="page-content">
  <div class="body-container">
    <h1 class="page-title">Contact</h1>
    <p>
      Glasgow<br/>
      Tontine, 20 Trongate G1 5NA<br/>
      Contact details<br/>
      0131 290 2600<br/>
      <a href="#">info@codeclan.com</p>
    </p>
  </div>
</section>