<form action="/owner/<%=@owner.id%>" method="POST">
  <label for="first-name">First name:</label>
  <input type="text" id="first-name" name="first_name" value="<%=@owner.first_name%>">

  <label for="last-name">Last name:</label>
  <input type="text" id="last-name" name="last_name" value="<%= @owner.last_name %>">
  <input type="submit" value="Edit Details">
</form>