<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
<!--     <link rel="shortcut icon" type="image/png" href="/wiz-hat.png">
 -->    <link rel="stylesheet" href="/stylesheet.css" type="text/css">
    <title>Animal Shelter</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/students">View Animals</a></li>
      </ul>
    </nav>

    <%= yield %>

  </body>

</html>