<h1>Register to become a new owner</h1>
<form action="/owners" method="POST">
  <label for="first-name">First name:</label>
  <input type="text" id="first-name" name="first_name">

  <label for="last-name">Last name:</label>
  <input type="text" id="last-name" name="last_name">

  <input type="submit" value="Register">
</form>
<h1>Existing Owners With Pets</h1>

<% for owner in @owners %>
<p>Name: <%= owner.first_name %> <%= owner.last_name %></p>
<p><a href="/owner/<%=owner.id%>">Show Owner</a></p>

<hr/>
<% end %>

