<section class="page-content">
  <div class="body-container">
    <h1 class="page-title">Register...</h1>
    <form action="/owners" method="POST">
      <label for="first-name">First name:</label>
      <input placeholder="e.g Jia" type="text" id="first-name" name="first_name">
      <label for="last-name">Last name:</label>
      <input placeholder="e.g Wong" type="text" id="last-name" name="last_name">
      <input type="submit" value="Register">
    </form>

    <h1 class="page-title">Owners With Pets</h1>
    <li class="adoptionclass"><a href="/adoptions">Show All Adoptions</a></li>

    <h1 class="page-title">Existing Owners</h1>
    <% for owner in @owners %>
    <p>Name: <%= owner.first_name %> <%= owner.last_name %></p>
    <p><a href="/owner/<%=owner.id%>">Show Owner</a></p>

    <hr/>
    <% end %>

  </div>
</section>