<section class="page-content">
  <div class="body-container">
    <h1 class="page-title">Owner</h1>
    <p>First Name: <%= @owner.first_name %></p>
    <p>Last Name: <%= @owner.last_name %></p>
    <p><a href="/owner/<%= @owner.id %>/edit">Edit</a></p>
    <form action="/owner/<%= @owner.id %>/delete" method="POST">
      <input type="submit" value="Delete owner">
    </form>
  </div>
</section>
<footer>
  <a href="#"><img class="socialmedia" src="facebook.png" alt="facebook" style="height:40px; width:40px;"/></a>
  <a href="#"><img class="socialmedia" src="twitter.png" alt="twitter" style="height:40px; width:40px;"/></a>
  <a href="#"><img class="socialmedia" src="instagram.png" alt="instagram" style="height:40px; width:40px;"/></a>
</footer>