*{
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
  font-family: Sans-serif, Moderne Sans;
}

.mainbackground{
  background-image: url("/mainimage.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 65%;
}

.logo{
  display: block;
  margin: 0 auto;
  padding-top: 10%;
  transition: all .2s ease-in-out;
  height: 12%;
  width: 12%;
}

.logo:hover{
  transform: scale(1.5);
}

.navbar{
  background: -webkit-linear-gradient(right, white, #b3e0ff);
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  box-shadow: 10px 10px 10px grey;
}

.nav-flex-container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-flex-container ul{
  display: flex;
  margin: 0 auto;
  list-style: none;
  width: 50%;
}

.nav-flex-container ul a{
  border-radius: 40px;
  color: black;
  width: 40%;
  height: 100%;
  padding: 17.5px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: background-color .5s linear ;
  transition: .8s;
}

.nav-flex-container ul a:hover{
  box-shadow: 10px 15px 20px grey;
  background: #4db8ff;
  -webkit-transition: background.5s linear;
  transition: .8s;
}

.page-content{
  width: 100%;
  display: flex;
  background: -webkit-linear-gradient(right, white, #b3e0ff);
}

.body-container{
  margin: 0 auto;
  width: 50%;
  height: 70%;
}

.page-title{
  padding: 10%;
  font-family: script, Brush Script MT;
  font-size: 42px;
  text-align: center;
}

.adoptionclass{
  text-align: center;
  list-style: none;
}

.adoptionclass a{
  text-decoration: none;
}

.adoptionclass a:hover{
  text-decoration: underline;
}

input[type=submit]:hover{
  color: green;
}


form{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input{
  border-radius: 20px;
  padding: 10px;
  outline: none;
}

p{
  line-height: 200%;
  text-align: center;
}

.animal-pictures{
  display: block;
  margin: 40px auto;
  height: 30%;
  width: 50%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px grey;
}

footer{
  margin: 0 auto;
  text-align: center;
  padding: 5%;
  background: -webkit-linear-gradient(right, white, #b3e0ff);
}

#icon{
  float: right;
}

#icon > div{
  margin: 3px;
  width: 20px;
  height: 3px;
  background: black;
  border-radius: 5px;
}

.handle{
  width: 100%
  background: #4db8ff;
  text-align: center;
  padding: 25px 20px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 780px){
  #dropdown{
    max-height: 20em;
    display: block;
    width: 100%;
    height: 100%;
  }

  .nav-flex-container{
    width: 100%;
    height: 100%
    display: block;
    margin: 0;
  }

  .nav-flex-container ul{
    list-style: none;
    width: 50%;
  }

  .nav-flex-container ul li{
    color: black;
    width: 100%;
    height: 10%;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: background-color .5s linear ;
    transition: .8s;
  }

  .nav-flex-container ul li:hover{
    box-shadow: 10px 15px 20px grey;
    background: #b3e0ff;
    -webkit-transition: background.5s linear;
    transition: .8s;
  }

  .nav-flex-container ul a{
    padding: 0;
    text-align: center;
  }

  .hidden{
    display: none;
    width: 100%;
  }

  .handle{
    display: block;
    position: relative;
    background-color: #4db8ff;
  }

  .mainbackground{
    background-image: url("/mainimage.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30%;
  }
}


